@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100vw;
}

.container {
    margin: 56px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

ul {
    display: flex;
    padding: 0;
}

li {
    margin: 16px 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}

p {
    line-height: 1.5;
}

.link {
    transition: all 300ms ease;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: rgb(250, 191, 81);
    transform: scaleX(0);
    transition: transform 300ms ease;
}

.link__hover-effect:hover::after {
    transform: scaleX(1);
}

/* Nav */

nav {
    display: flex;
    padding: 0 20px;
    height: 100px;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.btn__menu {
    width: 30px;
    height: 20px;
}

.ham__menu {
    width: 100%;
    height: 100%;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor, .link {
    font-weight: 700;
    color: #242424;
}

.nav__link--contact {
    background-color:rgb(250, 191, 81);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
    transition: all 300ms ease;
}

.nav__link--contact:hover {
    transform: scale(1.1);
}

/* Header Section */

.header__description {
    text-align: center;
    margin-bottom: 40px;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
}

.header__para {
    font-size: 18px;
    font-weight: 400;
}

.header__title {
    margin-bottom: 16px;
}

.search__button {
    background-color: rgb(250, 191, 81);
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
    transition: all 300ms ease;
}

.search__button:hover {
    transform: scale(1.1);
}

.search__bar {
    padding: 8px 12px;
    border: solid 1px #ccc;
    border-radius: 10px;
    flex: 0 1 300px;
    margin-right: 10px;
}

#filter__movies {
    margin-left: auto;
    padding: 4px 12px;
}

.user__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Movies */ 

#genre__select {
    padding: 4px 12px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
    justify-content: center;
}

.movie:nth-last-child(1),
.movie:nth-last-child(2) {
    flex: 0 0 calc(50% - 10px);
    gap: 0;
}



.featured__movies {
    padding: 0 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie__poster--wrapper {
    margin: 12px 16px;
}

.movie__description--wrapper {
    margin: 0 50px 0 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    flex: 0 0 calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* FOOTER CONTENT */

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__links {
    margin-bottom: 20px;
}

.footer__item {
    margin: 0 12px;
}

.footer__link, .link {
    font-weight: 700;
    color: #242424;
}

@media (max-width: 580px) {
    #filter__movies {
        margin-left: 12px;
    }
}

@media (max-width: 480px) {
    .user__input {
        flex-direction: column;
    
    }

    .search__bar {
        flex: 0 1 12px;
        margin-bottom: 12px;
    }

    .search__button {
        margin-bottom: 48px;
    }
}

@media (max-width: 420px) {
    .footer__text {
        text-align: center;
    }

    .nav__link--anchor {
        font-size: 14px;
    }
}

@media (max-width: 368px) {
    .nav__link {
        margin: 0 6px;
    }

    .footer__link {
        font-size: 14px;
    }
}